/*font families*/
/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@300&display=swap");

:root {
  --background-blue: rgb(148, 187, 233);
  --background-pink: rgba(238, 174, 202, 1);
}

* {
  padding: 0;
  margin: 0;
}

.main-heading {
  font-family: "Mukta", sans-serif;
  margin: 2.5% auto auto 5.5%;
  font-size: 1.9rem;
  font-weight: 700;
}

.wrapper {
  display: flex;
  /* top | right | bottom | left */
  align-items: center;
}

body {
  /* background: var(--background-blue);
  background: linear-gradient(0deg, var(--background-blue) 0%, var(--background-pink) 100%); */
  max-height: calc(100vh);
}

.wrapper-image {
  margin: 7% 0% auto 12%;
  flex: 1; /* Let this element take up 50% of available space */
  margin-right: -13vh;
}

img {
  width: 70%;
  border-radius: 2.5%;
}

.wrapper-text {
  font-family: "Mukta", sans-serif;
  margin-right: 10%;
  font-size: 1.03rem;
  margin-top: 3%;
  flex: 1; /* Let this element take up 50% of available space */
}

.background-para {
  margin-bottom: 2.6%;
  letter-spacing: 0.03em;
  line-height: 1.25em;
}

.center-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  margin-top: 7%;
  margin-bottom: 0;
}

.footer {
  margin: 10px;
  font-family: "Mukta", sans-serif;
  letter-spacing: 0.03em;
  font-size: 1.05rem;
  line-height: 1.25em;
  font-weight: 500;
}

.highlights-main-body, span{
  color: #5A4FCF;
}

/*Increase Width of Icons*/
.linkedin-link, .github-link, .email-link{
  margin-right: 1rem;
}

svg{
  height: 1.5rem;
}

/* adjusting to all screen sizes */
@media (max-width:750px){
  body{
    display: block;
    max-height: calc(200vh);
  }

  .wrapper{
    display: block;
  }

  .wrapper-image{
    margin-right: 2%;
    margin-bottom: 10%;
  }

  img{
    width: 90%;
  }

  .main-heading{
    text-align: center;
    margin-top: 6%;
  }

  .wrapper-text{
    margin-left: 10%;
    margin-right: 5.4%;
    margin-bottom: 10%;
  }

}